.login {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: #4ea0da;
 
  form {
 
    width: 360px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

    h1 {
  
      color: #101920(128, 128, 128);
      margin-bottom: 20px;
      
     
      
    }

    label {
      color: #212324;
      font-size: 23px;
   
    }

    input,
    textarea {
      padding: 20px;
      border: 1px solid rgb(255, 253, 253);
      border-radius: 10px;
      
    }

    button {
      border: none;
      padding: 20px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      background-color: #22ce50;
      cursor: pointer;
      border-radius: 10px;
    }

    span{
      color: rgb(0, 0, 0);
      font-size: 12px;
    }
  }
}
.forgot{
 
  text-align: center;
  font-size: small;
  margin-top: 25px;
  padding-left: 20px;
}


a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color:#0c57f7; 
  text-decoration:none; 
  cursor:pointer;  
}
